<div class="jumbotron">
  <%= msg_jumbotron %>

</div>

<div>
  <% @questions.each do |question| %>
    <%= form_with  url: site_answer_path do |form| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= link_to question.subject.description, site_path(question.subject_id), class:"label label-info" %>
              <%= question.description %>
            </h3>
          </div>
          <div class="panel-body">
              <% question.answers.each do |answer| %>
                <li style="list-style:none"></li>
                  <div class="radio">
                    <label>
                      <%= radio_button_tag 'answer_id', answer.id %>
                      <%= answer.description %>
                    </label>
                  </div>
                </li>
              <% end %>
              <li style="list-style:none">
                <%= form.submit "Responder", id: "submit_#{question.id}", class: "btn btn-default" %>
              </li>
            </ul>
          </div>
        </div>
    <% end %>
  <% end %>

  <div class="text-center">
    <%= paginate @questions %>
  </div>
</div>